<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Short</th>
      <th>Name</th>
      <th>Description</th>
      <th>Small</th>
      <th>Large</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="items.length === 0">
      <td style="text-align: center;" colspan="6">Nothing Searched or Found</td>
    </tr>
    <tr ng-if="items.length !== 0" ng-repeat="item in items">
      <td>{{item.id}}</th>
      <td>{{tiem.short_name}}</td>
      <td>{{item.name}}</th>
      <td>{{item.description}}</th>
      <td>{{item.price_small ? (item.price_small | currency : '$' : 2) : 'NA'}}</th>
      <td>{{item.price_large ? (item.price_large | currency : '$' : 2) : 'NA'}}</th>
    </tr>
  </tbody>
</table>
